.actions {
  padding: 50px 0;

  @media #{$tablet} {
    padding: 133px 0px;
  }
}

.actions__inner {
  display: flex;
  flex-direction: column;

  @media #{$desktop} {
    flex-direction: row;
  }
}

.actions__info {
  width: 100%;

  @media #{$desktop} {
    max-width: 263px;
    margin-right: 28px;
  }
}

.actions__list {
  flex-grow: 1;
}

.actions__title {
  margin-bottom: 15px;

  @media #{$desktop} {
    margin-bottom: 38px;
  }
}

.actions__text {
  font-weight: 400;
  font-size: $font-size-normal;
  line-height: 154.8%;
  color: #777777;
  margin-bottom: 20px;
}

.actions__item {
  padding: 32px 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  border-top: 1px solid  $main;
  position: relative;
  
  @media #{$tablet} {
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  @media #{$desktop} {
    height: 194px;
  }
  
  &::before {
    display: none;
    z-index: 10;
    position: absolute;
    content: "";
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: $main;
    background-repeat: no-repeat;
    background-position: center;

    @media #{$desktop} {
      display: block;
    }
  }

  &::after {
    @media #{$tablet} {
      display: block;
    }
  }
}

.actions__item:first-child {
  &::before {
    top: 13px;
    left: 118px;
    background-image: url("@img/actions-decor-1.svg");
    animation: rotate linear 10s infinite;
  }
}

@keyframes rotate {
  0% {
    transform:rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}

.actions__item:nth-child(2) {
  &::before {
    top: 35px;
    right: 0;
    background-image: url("@img/actions-decor-2.svg");
    animation: pendulum linear 5s infinite;
  }
}

@keyframes pendulum {
  0% {
    transform:rotate(0);
  }
  50% {
    transform:rotate(-90deg);
  }
  100%{
    transform:rotate(0);
  }
}

.actions__item:nth-child(3) {
  &::before {
    top: -21px;
    left: 51px;
    
  }

  &::after {
    display: block;
    z-index: 15;
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    top: 22px;
    left: 94px;
    border-radius: 50%;
    background-image: url("@img/actions-decor-3.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: zoom-in linear 5s infinite;
  }
}

@keyframes zoom-in {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.5);
  }
  100% {
    transform:scale(1);
  }
}

.actions__item:nth-child(4) {
  &::before {
    bottom: -22px;
    right: 42px;
    background-image: url("@img/actions-decor-4.svg");
    animation: pendulum-minus linear 10s infinite
  }
}

@keyframes pendulum-minus {
  0% {
    transform:rotate(0);
  }
  25% {
    transform:rotate(90deg);
  }
  75% {
    transform:rotate(-120deg);
  }
  100%{
    transform:rotate(0);
  }
}

.actions__item:last-child{
  border-bottom: 1px solid  $main;

  &::before {
    bottom: -10px;
    left: 125px;
  }

  &::after {
    display: block;
    z-index: 15;
    position: absolute;
    content: "";
    width: 134px;
    height: 70px;
    top: 102px;
    left: 125px;
    background-image: url("@img/actions-decor-5.svg");
    background-repeat: no-repeat;
    background-position: center;
    animation: zoom-out linear 5s infinite;
  }
}

@keyframes zoom-out {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(0.5);
  }
  100% {
    transform:scale(1);
  }
}

.actions__item-link {
  margin-top: 20px;
  margin-left: auto;
  font-size: $font-size-normal;

  @media #{$tablet}{
    margin-top: auto;
    margin-left: 0;
    width: 170px;
    flex-shrink: 0;
  }

  @media #{$desktop}{
    width: 293px;
  }
}

.actions__item-text {
  font-weight: 300;
  font-size: $font-size-medium;
  line-height: 100%;
  color: $black;
  text-align: left;

  @media #{$tablet} {
    // max-width: 360px;
    font-size: 30px;
  }

  @media #{$desktop} {
    width: 360px;
    // font-size: 30px;
  }
}