.benefits {
  padding-top: 50px;

  @media #{$tablet}{
    padding-top: 113px;
  }
}

.benefits__list {
  display: flex;
  flex-direction: column;

  @media #{$desktop}{
    flex-direction: row;
    justify-content: space-between;
  }

}

.benefits__item {
  padding-left: 100px;
  position: relative;
  margin-bottom: 70px;

  @media #{$desktop}{
    max-width: 262px;
    margin-bottom: 50px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 68px;
    height: 67px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }

  &--info {
    max-width: 360px;
    padding-right: 35px;
  }
}

.benefits__item-popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  position: absolute;
  width: 300px;
  top: 40px;
  left: -270px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid $main;
  font-size: $font-size-small;
  background-color: $white;

  &::before{
    position: absolute;
    content:"";
    top: -6px;
    right: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid $main;
    border-right: none;
    border-bottom: none;
    background-color: $white;
    transform: rotate(45deg);
  }
}

.benefits__item-popup-box{
  position: absolute;
  right: 0;
  bottom: -7px;
  cursor: pointer;

  &:hover{
    .benefits__item-popup {
      opacity: 1;
      visibility: visible;
    }
  }
}

.benefits__item:first-child {
  &::before {
    background-image: url("@img/icons/effect.svg");
    top: -10px;
  }
}

.benefits__item:nth-child(2) {
  &::before {
    background-image: url("@img/icons/dose.svg");
    top: -10px;
  }
}

.benefits__item:last-child {
  margin-bottom: 20px;
  &::before {
    background-image: url("@img/icons/pill.svg");
    top: -10px;
  }
}

.benefits__item-text {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: $font-size-normal;
  line-height: 154.8%;
  color: #242424;
}