@mixin btn ($border-color, $text-color) {
  border-color: $border-color;
  color: $text-color;
  
  &:hover{
    border-color: rgba($border-color, 0.3);
    color: rgba($text-color, 0.3);
  }
}

@mixin btn-solid ($border-color, $text-color, $bg-color) {
  border-color: $border-color;
  color: $text-color;
  background-color: $bg-color;
  
  &:hover{
    color: $bg-color;
    background-color: $text-color;
  }
}

.button {
  display: block;
  margin: 0 auto;
  padding: 10px 25px 8px;
  background-color: transparent;
  border: 1px solid $main;
  color: $main;
  border-radius: 33.5px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;

  @media #{$tablet}{
    width: 263px;
    padding: 20px 10px 20px;
  }

  @media #{$desktop}{
    width: 263px;
    padding: 20px 25px 25px;
  }

  &:hover{
    border-color: rgba($white, 0.3);
    color: rgba($white, 0.3);
  }
}

.button--invert {
  color: $white;
  border: 1px solid $white;
  
  &:hover{
    opacity: 0.3;

    // border-color: rgba($white, 0.3);
    // color: rgba($white, 0.3);
  }
}

