.footer {
  flex-shrink: 0;
  background-color: $white;
  padding: 30px 0;
}

.footer__exclaimer {
  font-size: $font-size-medium;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #540C50;
  opacity: 0.8;
  margin-bottom: 20px;
  
  @media #{$tablet} {
    font-size: 31px;
    margin-bottom: 50px;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
  }

  @media #{$desktop} {
    column-gap: 112px;
  }
}

.footer__report,
.footer__cookies {
  font-size: $font-size-extraSmall;
  line-height: 100%;
  color: $grey-footer-first;
  margin-bottom: 15px;
}

.footer__report{
  @media #{$tablet} {
    grid-row: span 2;
  }
}

.footer__social {
  margin-bottom: 15px;
}

.footer__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: $grey-footer-second;
  margin-bottom: 15px;

  @media #{$tablet} {
    margin-bottom: 0;
  }
}

.footer__developer {
  display: flex;
  justify-content: flex-start;


  @media #{$tablet} {
    justify-content: flex-start;
  }

  svg {
    margin-right: 15px;
    flex-shrink: 0;
    
    path {
      transition: fill 0.3s;
      fill: $grey-footer-second;
    }
  }

  span {
    width: 160px;
    font-weight: 400;
    font-size: $font-size-small;
    line-height: 20px;
    color: $grey-footer-second;
    transition: color 0.3s;

    br {
      display: none;
    }

    @media #{$tablet} {
      br {
        display: block;
      }
      width: 100%;
    }
  }

  &:hover {
    svg {
      path {
        fill: $main;
      }
    }
    span{
      color: $main;
    }
  }
}