.header {
  z-index: 99999;
  background-color: transparent;

  @media #{$tablet}{
    position: absolute;
    background-color: transparent;
    width: 100%;
  }
}

.header__inner {
  padding: 16px 0;
  display: flex;
  align-items: center;

  @media #{$tablet}{
    padding: 30px 0;
  }
}

.header__buttons {
  flex-grow: 1;
  text-align: right;
  margin-right: 14px;

  @media #{$tablet}{
    margin-right: 44px;
  }

  a{
    margin-right: 9px;

    @media #{$tablet}{
      margin-right: 51px;
    }

    &:last-child{
      margin-right: 0;
    }
  }
}

.header__link--search{
  svg{
    @media #{$tablet}{
      width: 48px;
      height: 47px;
    }
  }
}

.header__link--location{
  svg{
    @media #{$tablet}{
      width: 42px;
      height: 49px;
    }
    @media #{$desktop-large}{
      path{
        stroke: $white;
      }
    }
    @media #{$desktop-large} and (min-height: 1080px){
      path{
        stroke: $main;
      }
    }
  }
}

.header__toggle {
  z-index: 999;
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: transparent;
  
  .toggled-line:first-child{
    transition: transform 0.3s;
  }

  .toggled-line:last-child{
    transition: transform 0.3s;
  }


  @media #{$tablet}{
    width: 60px;
    height: 40px;
  }
    
  svg{
    @media #{$tablet}{
      width: 60px;
      height: 40px;
    }

    path{
      @media #{$desktop-large}{
        stroke: $white;
      }
    }
  }
}

.header__toggle.header__toggle--close {
  .toggled-line:first-child{
    transform: translateY(8px);
  }
  
  .toggled-line:last-child{
    transform: translateY(-8px);
  }

  svg{
    path{
      @media #{$desktop-large}{
        stroke: $main;
      }
    }
  }
}

.header--out {
  transform: translateY(-100%);
  transition: all .3s;
}
