.hero {
  background-image: url("@img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center 15%;
  background-size: contain;
  height: calc(100vh - 72px);

  @media #{$tablet} {
    background-image: url("@img/hero-bg-big.svg");
    background-size: cover;
    // background-position: top;
    height: 550px;
    // height: 100vh;
    margin-top: 113px;
    // margin-bottom: 100px;
    // padding-bottom: 100px;
  }
  @media #{$desktop} {
    background-image: url("@img/hero-bg-big.svg");
    background-size: contain;
    background-position: top;
    height: auto;
    // height: 100vh;
    margin-top: 113px;
    // margin-bottom: 100px;
    // padding-bottom: 100px;
  }

  @media #{$desktop-large}{
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 100px;
  }
}

.hero__inner {
  @media #{$tablet} {
    display: flex;
    padding-top: 30px;
    // padding-top: 132px;
    // align-items: center;
  }

  @media #{$desktop-large} {
    padding-top: 150px;
    height: 100vh;
    align-items: center;
  }
}

.hero__heading {
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 45px;
  line-height: 90%;
  color: $black;
  max-width: 292px;

  @media #{$desktop} {
    font-size: 55px;
    max-width: 360px;
    margin-bottom: 240px;
  }
}

.hero__list {
  display: none;

  @media #{$desktop} {
    display: block;
  }
}

.hero__list-item {
  padding-left: 98px;
  position: relative;
  margin-bottom: 75px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
  }
}

.hero__list-item:first-child {
  &::before {
    top: -30px;
    width: 67px;
    height: 67px;
    background-image: url("@img/icons/find.svg");
  }
}

.hero__list-item:nth-child(2) {
  &::before {
    top: -30px;
    width: 68px;
    height: 67px;
    background-image: url("@img/icons/instruction.svg");
  }
}

.hero__list-item:last-child {
  &::before {
    top: -30px;
    width: 68px;
    height: 80px;
    background-image: url("@img/icons/wherBuy.svg");
  }
}

.hero__list-link {
  font-size: $font-size-medium;
  line-height: 21px;
  color: $main;

  &:hover {
    text-decoration: underline;
  }
}

.hero__slider {
  min-width: 0;
  // margin-top: 70px;

  @media #{$tablet} {
    // margin-top: 50px;
    margin-bottom: 50px;
  }

  // @media #{$desktop} {
  //   margin-top: 100px;
  // }

  @media #{$desktop-mid} {
    margin-top: 100px;
  }

  @media #{$desktop-large} {
    margin-top: 0;
  }

}

.hero__slider-button {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  width: 132px;
  @include btn ($main, $main);

  @media #{$tablet} {
    width: 160px;
    padding: 10px;
    @include btn ($white, $white);
  }

  @media #{$desktop} {
    padding: 20px 25px 25px;
    width: 263px;
    transform: translateX(30px);
  }
}
