.hero {
  background-image: url("@img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center 7%;
  background-size: contain;
  height: calc(100vh - 72px);

  @media #{$tablet} {
    background-image: url("@img/hero-bg-big.svg");
    background-size: cover;
    height: 550px;
    margin-top: 113px;
  }

  @media #{$desktop} {
    background-image: url("@img/hero-bg-big.svg");
    // background-size: contain;
    background-position: top;
    height: auto;
    margin-top: 135px;
    margin-bottom: 97px;
  }

  @media #{$desktop-large} {
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    margin-top: 0;
    // margin-bottom: 100px;
  }
}

.hero__wrapper {
  @media #{$desktop} {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.hero__inner {
  @media #{$tablet} {
    display: flex;
    padding-top: 30px;
  }

  @media #{$desktop} {
    padding-top: 5px;
    padding-bottom: 7px;
    // padding-bottom : 30px;
  }

  @media #{$desktop-large} {
    padding-top: 150px;
    height: 100vh;
    align-items: center;
  }
}

.hero__heading {
  font-family: $font-family-additional;
  font-weight: 700;
  font-size: 45px;
  line-height: 90%;
  color: $black;
  max-width: 292px;
  padding: 0 15px;

  @media #{$desktop} {
    font-size: 55px;
    max-width: 360px;
    margin-bottom: 226px;
    padding: 0;
    line-height: 100%;
  }
}

.hero__list {
  display: none;

  @media #{$desktop} {
    display: block;
  }
}

.hero__list-item {
  padding-left: 98px;
  position: relative;
  margin-bottom: 75px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
  }
}

.hero__list-item:first-child {
  &::before {
    top: -23px;
    width: 67px;
    height: 67px;
    background-image: url("@img/icons/find.svg");
  }
}

.hero__list-item:nth-child(2) {
  &::before {
    top: -19px;
    width: 68px;
    height: 67px;
    background-image: url("@img/icons/instruction.svg");
  }
}

.hero__list-item:last-child {
  margin-top: 90px;

  &::before {
    top: -30px;
    width: 68px;
    height: 80px;
    background-image: url("@img/icons/wherBuy.svg");
  }
}

.hero__list-link {
  font-size: $font-size-medium;
  line-height: 21px;
  color: $main;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.hero__slider {
  min-width: 0;

  @media #{$tablet} {
    margin-bottom: 50px;
  }

  @media #{$desktop-mid} {
    margin-top: 73px;
  }

  @media #{$desktop-large} {
    margin-top: 0;
  }
}

.hero__slider-button {
  padding-left: 5px;
  padding-right: 5px;
  width: 132px;
  @include btn ($main, $main);

  @media #{$tablet} {
    width: 160px;
    padding: 10px;
    @include btn ($white, $white);
  }

  @media #{$desktop} {
    padding: 20px 25px 25px;
    width: 263px;
    transform: translateX(30px);
  }
}
