.hero-slider {
  min-width: 0;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 15px;
  position: relative;
  
  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
  }

  .slick-arrow {
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $main;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s;

    @media #{$tablet} {
      bottom: 200px;
      width: 68px;
      height: 68px;
    }

    &:hover {
      background-color: $main;

      svg{
        stroke: $white;
      }
    }
  }

  .slick-prev{
    transform: translateX(-41px);
    text-align: center;

    svg{
      stroke: $main;
      transform: translate(-1px, 1px);
    }
  }

  .slick-next {
    svg{
      stroke: $main;
      transform: translate(1px, 1px);
    }
  }

  .slider__slide {
    text-align: center;
  }
}