.hero-slider {
  min-width: 0;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;
  position: relative;

  @media #{$tablet} {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  @media #{$desktop} {
    margin-top: -15px;
    margin-bottom: 70px;
  }
  
  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
  }

  .slick-arrow {
    padding: 0;
    position: absolute;
    bottom: -10px;
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $main;
    cursor: pointer;
    z-index: 5;
    transition: all 0.3s;

    @media #{$tablet} {
      bottom: -10px;
      border: 1px solid $white;

      svg {
        path {
          stroke: $white;
        }
      }
    }

    @media #{$desktop} {
      bottom: -10px;
      border: 1px solid $white;

      svg {
        width: 14px;
        height: 27px;
      }
    }

    @media #{$desktop} {
      bottom: -30px;
      width: 68px;
      height: 68px;
    }

    &:hover {
      opacity: 0.3;
    }
  }

  .slick-prev {
    transform: translateX(-41px);
    text-align: center;

    @media #{$desktop} {
      transform: translateX(-61px);
    }

    svg {
      stroke: $main;
      transform: translate(-1px, 1px);
    }
  }

  .slick-next {
    @media #{$desktop} {
      transform: translateX(41px);
    }

    svg {
      stroke: $main;
      transform: translate(1px, 1px);
    }
  }

  .slider__slide {
    text-align: center;
  }
}

.hero-slider__image {
  @media #{$tablet} {
    margin-left: -100px;
  }
}