.information {
  padding-top: 50px;
  background-image: url("@img/information-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  @media #{$tablet} {
    padding-top: 180px;
  }

  @media #{$desktop-mid} {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: -20px;
  }

  @media #{$desktop-large} {
    background-size: cover;
    background-position:  center;
  }
}

.information__wrapper {
  @media #{$desktop-mid} {
    padding-top: 17%;
    padding-bottom: 3%;
  }

  @media #{$desktop-large} {
    padding-top: 25%;
    padding-bottom: 24%;
  }
}

.information__inner {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    flex-direction: row;
    margin-bottom: 35px;
  }

  @media #{$desktop} {
    margin-bottom: 14px;
  }
}

.information__info {
  width: 100%;
  margin-bottom: 20px;

  @media #{$tablet} {
    flex-shrink: 0;
    width: 263px;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.information__title {
  margin-bottom: 20px;

  @media #{$desktop-mid} {
    margin-top: -7px;
    margin-bottom: 35px;
  }
}

.information__text {
  text-transform: lowercase;
  font-size: $font-size-small;
  line-height: 154.8%;
  color: $white;

  @media #{$tablet} {
    font-size: $font-size-normal;
  }
  
  span {
    text-transform: uppercase;
  }

  br {
    display: none;
    
    @media #{$tablet} {
      display: block;
    }
  }
}

.information__grid {
  width: 100%;
  margin-bottom: 20px;
}

.information__link {
  @include btn($main, $main);

  @media #{$tablet} {
    margin: 0;
    margin-left: auto;
  }
}