.information {
  padding-top: 50px;
  background-image: url("@img/information-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.information__inner {
  display: flex;
  flex-direction: column;
}

.information__info {
  width: 100%;
  margin-bottom: 20px;
}

.information__title {
  margin-bottom: 20px;
}

.information__text {
  text-transform: lowercase;
  font-size: $font-size-small;
  line-height: 154.8%;
  color: $white;

  span {
    text-transform: uppercase;
  }
}

.information__grid {
  width: 100%;
  margin-bottom: 35px;
}