.link {
  font-family: $font-family-default;
  font-weight: 400;
  font-size: $font-size-medium;
  line-height: 21px;
  text-decoration-line: underline;
  color: $main;

  &:hover {
    text-decoration: none;
  }
}