.marquee {
  overflow: hidden;
  font-weight: 300;
  font-size: $font-size-large;
  line-height: $line-height-large;
  text-transform: uppercase;
  color: $main;
  padding: 16px 0;
  border-top: 1px solid $main;
  border-bottom: 1px solid $main; 
  overflow-x: hidden;

  @media #{$tablet} {
    margin-top: 50px;
    font-size: 48px;
    line-height: 56px;
  }
}

.marquee__wrapper{
  display: inline-flex;
  position: relative;
}

.marquee__text {
  white-space: nowrap;
  width: 100%;
}