.marquee {
  overflow: hidden;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main;
  padding: 16px 0;
  border-top: 1px solid $main;
  border-bottom: 1px solid $main; 
  overflow-x: hidden;

  @media #{$tablet} {
    margin-top: 50px;
    font-size: 48px;
    line-height: 56px;
  }
}

.marquee__wrapper{
  display: inline-flex;
  position: relative;
}

.marquee__text {
  white-space: nowrap;
  width: 100%;
}

// .my-marquee {
//   overflow: hidden;
// }

// .my-marquee > div {
//   display: inline-flex;
//   position: relative;
// }

// .marquee-jq {
//   width: 100%; /* the plugin works for responsive layouts so width is not necessary */
//   overflow: hidden;
//   border: 1px solid #ccc;
// }