.menu {
  margin-left: auto;
}

.menu__wrapper {
  z-index: 99;
  position: absolute;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #ffffff;
  background-image: url("@img/menu-bg-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translateY(-200%);
  transition: all .3s;

  @media #{$tablet} {
    flex-grow: 1;
    justify-content: space-around;
  }
}

.menu__list {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 0 80px;
  
  @media #{$tablet} {
    padding-top: 155px;
  }
}

.menu__wrapper.menu__list--active {
  transform: translateY(0);
  transition: all .3s;
}

.menu__item {
  margin: 25px 0;
  
  @media #{$tablet} {
    margin: 0;
    margin-right: 70px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  font-family: $font-family-additional;
  font-size: $font-size-normal;
  line-height: 100%;
  transition: color .3s;

  &:hover {
    color: #771373;
  }
}
