.opinions{
  padding-top: 50px;

  @media #{$tablet} {
    padding-top: 20px;
  }

  @media #{$desktop} {
    padding-top: 85px;
  }
}

.opinions__inner {
  display: flex;
  flex-direction: column;

  @media #{$tablet} {
    flex-direction: row;
  }
}

.opinions__info {
  width: 100%;
  margin-bottom: 20px;

  @media #{$tablet} {
    max-width: 263px;
    margin-right: 60px;
  }
}

.opinions__title {
  margin-bottom: 30px;
}

.opinions__text {
  font-weight: 400;
  font-size: $font-size-small;
  line-height: 154.8%;
  color: $grey-text;

  @media #{$tablet} {
    font-size: $font-size-normal;
  }

  br {
    display: none;
    
    @media #{$tablet} {
      display: block;
    }
  }

}

.opinions__slider {
  @media #{$desktop} {
    margin-top: 6px;
  }
}
