.opinions{
  padding-top: 50px;
  @media #{$tablet}{
    padding-top: 150px;
  }
}

.opinions__inner {
  display: flex;
  flex-direction: column;
  @media #{$tablet}{
    flex-direction: row;
  }
}

.opinions__info{
  width: 100%;
  margin-bottom: 20px;

  @media #{$tablet}{
    max-width: 263px;
    margin-right: 30px;
  }
}

.opinions__title {
  margin-bottom: 20px;
}

.opinions__text {
  font-weight: 400;
  font-size: $font-size-small;
  line-height: 154.8%;
  color: #777777;
}
