.places {
  padding: 70px 0;
  position: relative;

  @media #{$desktop} {
    padding-top: 95px;
    padding-bottom: 94px;
  }

  @media #{$desktop-large} {
    margin-top: -180px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 61px;
    background-image: url("@img/places-decor.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.places__inner {
  display: flex;
  flex-direction: column;

  @media #{$desktop} {
    flex-direction: row;
  }
}

.places__info {
  width: 100%;

  @media #{$desktop} {
    width: 260px;
    margin-right: 33px;
  }
}

.places__title {
  margin-bottom: 20px;

  @media #{$desktop} {
    margin-bottom: 32px;
    max-width: 130px;
  }
}

.places__text {
  font-weight: 400;
  font-size: $font-size-small;
  line-height: 154.8%;
  color: $grey-text;
  margin-bottom: 20px;

  @media #{$tablet} {
    font-size: $font-size-normal;

  }


  br {
    display: none;
    
    @media #{$tablet} {
      display: block;
    }
  }
}

.places__image {
  @media #{$desktop-mid}{
    margin-top: -68px;
  }
}

.places__links {
  @media #{$tablet} {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  @media #{$desktop} {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -11px;
  }
}

.places__link {
  margin-bottom: 10px;
  @include btn-solid($main, $main, $white);

  @media #{$desktop} {
    margin: 0;
    margin-right: 30px;
  }

  &:last-child {
    margin-bottom: 0;

    @media #{$desktop} {
      margin-right: 0;
    }
  }
}