.production-slider {
  .swiper {
    width: 100%;
    height: 100%;
    min-width: 0;
  }

  .swiper-wrapper {
    min-width: 0;

    @media #{$tablet} {
      align-items: center;
      padding-left: 29px;
      margin-right: -30px;
    }

    @media #{$desktop-mid} {
      align-items: center;
      padding-left: 29px;
      margin-right: -30px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-slide {
    @media #{$tablet} {
      height: 150px;
      transition: all .5s;
    }
  }

  .swiper-slide-active {
    @media #{$tablet} {
      width: 263px !important;
      height: 150px;
      margin-right: 30px;
      transition: all .5s;
      filter: blur(2px) brightness(1.5);
    }
  }

  .swiper-slide-next {
    @media #{$tablet} {
      transition: all .5s;
      height: 100%;
      width: 458px !important;
    }
  }
}

.production-slider__slide {
  position: relative;

  &:first-child {
    display: none;

    @media #{$tablet} {
      display: block;
    }
  }

  .production-slider__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.production-slider__slide.swiper-slide-active {
  @media #{$tablet} {
    button {
      display: none;
    }
  }
}

.production-slider__slide-button {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -34px;
  margin-left: -34px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.3;
  }
}

.production-slider__navgation {
  display: flex;
  justify-content: flex-end;
  margin: 30px 0;

  @media #{$tablet} {
    align-self: end;
  }

  @media #{$desktop-mid} {
    flex-direction: column;
    align-self: center;
  }
}

.production-slider__navgation-next,
.production-slider__navgation-prev {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 1px solid $main;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;

  svg {
    width: 7px;
    height: 14px;

    path{
      stroke: $main; 
    }
  }

  &:hover {
    opacity: 0.3;
  }

  @media #{$tablet}{
    width: 68px;
    height: 68px;
    border: 1px solid $white;
    background-color: transparent;

    svg {
      width: 16px;
      height: 28px;

      path {
        stroke: $white; 
      }
    }
  }
}

.production-slider__navgation-next.swiper-button-disabled, 
.production-slider__navgation-prev.swiper-button-disabled  {
  opacity: 0.3;
}

.production-slider__navgation-prev {
  margin-right: 10px;
  transform: rotate(180deg);

  @media #{$desktop-mid} {
    margin-right: 0;
    margin-bottom: 28px;
  }
}

.production-slider__image {
  box-shadow: (-10px 10px 20px rgba(0, 0, 0, 0.25));
  vertical-align: bottom;
}
