.production {
  background-image: url("@img/production-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 40%;

  @media #{$tablet} {
    padding: 25% 0 25%;
    height: 858px;
    margin-top: -200px;
  }

  @media #{$desktop-large} {
    background-size: cover;
    padding: 30% 0 30%;
  }
}

.production__inner {
  display: flex;
  flex-direction: column;
  min-width: 0;
  
  @media #{$desktop-mid} {
    min-width: 0;
    flex-direction: row;
  }

  @media #{$desktop-large} {
    margin-top: -100px;
  }
}

.production__title {
  margin-bottom: 20px;

  @media #{$tablet} {
    width: 100%;
  }

  @media #{$desktop} {
    margin-bottom: 0;
    flex-shrink: 0;
    width: 315px;
  }
}

.production__slider {
  min-width: 0;

  @media #{$tablet} {
    max-width: 760px;
    height: 270px;
    align-self: end;
  }

  @media #{$desktop} {
    height: 270px;
    max-width: 780px;
    margin-left: -30px;
  }

  @media #{$desktop-mid} {
    margin-right: 30px;
    margin-left: -53px;
  }
}

.production__button {
  display: block;
  margin: 0;
  margin-left: auto;
  width: 100%;
  @include btn($main, $main);

  @media #{$tablet} {
    width: 263px;
  }

  @media #{$desktop-mid} {
    margin-top: 25px;
    @include btn($white, $white);
  }
}