.social {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media #{$desktop} {
    justify-content: flex-start;
  }
}

.social__link {
  @media #{$desktop} {
    margin-right: 40px;
  }

  svg {
    path {
      transition: fill 0.3s;
      fill: $grey-footer-first;
    }
  }

  &:hover {
    path{
      fill: $main;
    }
  }
}

.social__link:last-child {
  @media #{$tablet} {
    margin-right: 0;
  }
}