//  === Screen widths  ===
$desktop-large: "(min-width: 1441px)";
$desktop-mid: "(min-width: 1280px)";
$desktop: "(min-width: 1024px)";
$tablet: "(min-width: 768px)";

//  === Colors ===
$white: #ffffff;
$black: #000000;

$main: #5B0E58;
$grey-text: #777777;
$grey-footer-first: #7A7A7A;
$grey-footer-second: #828282;


// === Fonts ===
$font-family-default: "Roboto", sans-serif;
$font-family-additional: "Merriweather", serif;


// === Fonts sizes ===
$font-size-normal: 16px;

$font-size-large: 20px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-size-extraSmall: 12px;


// === Line heights ===
$line-height-normal: 20px;

$line-height-large: 24px;
$line-height-medium: 22px;
$line-height-small: 18px;
$line-height-extraSmall: 16px;


// === Fonts colors  ===
$text-main-color: $black;